apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.namespace }}
  name: {{ include "frontend.fullname" . }}
  labels:
  {{- include "frontend.labels" . | nindent 4 }}
  annotations:
    deployment.kubernetes.io/revision: "13"
spec:
  replicas: {{ .Values.deployment.replicas }}
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  selector:
    matchLabels:
    {{- include "frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
      {{- include "frontend.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: true
      containers:
        - envFrom:
          - configMapRef:
              name: {{ include "frontend.fullname" . }}-frontend
              optional: false
          image: {{ .Values.deployment.image }}
          imagePullPolicy: Always
          name: frontend
          ports:
          - containerPort: 3000
            protocol: TCP
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          resources: 
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      imagePullSecrets:
      - name: {{ .Values.deployment.imagePullSecret }}
      restartPolicy: {{ .Values.deployment.restartPolicy }}
      schedulerName: default-scheduler
      securityContext: {}
      shareProcessNamespace: false
      terminationGracePeriodSeconds: 30
