apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}-clickhouse-config
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  config.xml: |-
    {{- tpl (.Files.Get "data/config.xml") . | nindent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}-clickhouse-users
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  users.xml: |-
    {{- tpl (.Files.Get "data/users.xml") . | nindent 4 }}