{{- if .Values.namespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  {{- with .Values.namespaceLabels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
